SERVER_ADDR=127.0.0.1:3000
DB_PATH=rustquet_data
PARQUET_OUTPUT_DIR=parquet_output
BATCH_SIZE=10000
# opcional: 0 desactiva flush por tiempo
BATCH_MAX_AGE_SECS=0
INGEST_CHANNEL_CAPACITY=8192
PARQUET_CHANNEL_CAPACITY=1
SCHEMA_CONFIG_PATH=config.json
# opcional: comenta esta linea para deshabilitar auth bearer
INGEST_BEARER_TOKEN=test-bearer-token

PUSH_ACCESS_KEY_ID=minioadmin
PUSH_SECRET_ACCESS_KEY=minioadmin
